.gallery {
    display: grid;
    grid-gap: 10px;
    height: 100%;
    width: 100%;
    

}

.gallery img {
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease;
}

.gallery img:hover {
    transform: scale(1.1);
}

/* Media Queries for Responsive Design */

/* Extra Small (xs) devices (portrait phones) */
@media only screen and (max-width: 575px) {
    .gallery {
        grid-template-columns: repeat(1, 1fr);
        background-color: aqua;
    }
}

/* Small (sm) devices (landscape phones) */
@media only screen and (min-width: 576px) and (max-width: 767px) {
    .gallery {
        grid-template-columns: repeat(2, 1fr);
        background-color: purple;
    }
}

/* Medium (md) devices (tablets) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .gallery {
        grid-template-columns: repeat(3, 1fr);
        background-color: black;
    }
}

/* Large (lg) devices (desktops) */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .gallery {
        grid-template-columns: repeat(4, 1fr);
        background-color: gray;
    }
}

/* Extra Large (xl) devices (large desktops) */
@media only screen and (min-width: 1200px) {
    .gallery {
        grid-template-columns: repeat(5, 1fr);
        background-color: maroon;
    }
}